//Breakpoints
$min-tablet: 768px;
$min-laptop: 992px;
//Font

//Font Size
$small: 0.825rem;
$medium: 1rem;
$large: 1.25rem;
$x-large: 1.5rem;
$xx-large: 2.5rem;
$xxx-large: 3.25rem;
$xxxx-large: 4rem;
//Font Famliy
$lato: 'Lato', sans-serif;
//Font Weight
$fw-black: 900;
$fw-bold: 700;
$fw-regular: 400;
$fw-light: 300;

//Color Scheme
$white: #FFFFFF;
$black: #071013;
$gray: #2D3047;
$turquoise: #7CEA9C;
