.footer {
  height: 100vh;
  padding: 4rem 0;
  p {
    margin-top: 2rem;
  }
  @include screen-view($min-laptop) {
    height: auto;
    padding: 12.5rem 0 4rem 0;
    p {
      margin-top: 1.5rem;
    }
  }
}
